<div class="topnav">
  <div class="topnav-left">
    <a href="/" class="bar-button"><b>Book</b> Review Club</a>
    <a href="/books" class="bar-button">Books</a>
    <a href="/authors" class="bar-button">Authors</a>
    <a href="/reviews" class="bar-button">Lastest Reviews</a>
    <div class="topnav-right">
      <a href="/logout" class="bar-button">Logout</a>
      <a href="/users/<%= current_user.slug %>" class="bar-button">Profile</a>
    </div>
  </div>
</div>

<div class="user-container">
  <h1>Welcome <%= current_user.name %></h1>
  <p class="flash_message">
    <%  if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
  </p>
</div>
<div class="reviews-container">
  <% if !current_user.reviews.empty? %>
    <h3>Your latest reviews:</h1>
    <% @reviews.each do |review| %>
      <div class="review">
        <div class="review_book">
          <a href="/books/<%= review.book.slug %>"><h4><%= review.book.name %></h4></a>
        </div>
        <div class="review_content">
          '"<%= review.content %>"'
        </div>
        <div class="edit-review">
          <form action="/reviews/<%= review.id %>" method="get">
            <p>
              <button class="grey" type="submit" value="Show Review">Show</button>
            </p>
          </form>
        </div>
      <% end %>
      </div>
  <% else %>
    <h3>You have no reviews yet start now!!!</h1>
  <% end %>
</div>
