<div class="topnav">
  <div class="topnav-left">
    <a href="/" class="bar-button"><b>Book</b> Review Club</a>
    <a href="/books" class="bar-button">Books</a>
    <a href="/authors" class="bar-button">Authors</a>
    <a href="/reviews" class="bar-button">Lastest Reviews</a>
    <div class="topnav-right">
      <a href="/logout" class="bar-button">Logout</a>
      <a href="/" class="bar-button">Profile</a>
    </div>
  </div>
</div>
<h1>Editing review by <%= current_user.name %></h1>
<p class="flash_message">
  <%  if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</p>
<a href="/books/<%= @review.book.slug %>"><h3><%= @review.book.name %></a>
<br></br>
<div class="review_form">
  <form action="/reviews/<%= @review.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="content">Review</label>
    <br></br>
    <textarea rows="4" cols="50" name="content" id="content">
      <%= @review.content.strip %>
    </textarea>
    <br></br>

    <input type="submit" name="edit" value="Edit Review">
  </form>
  <div class="delete-review">
    <form action="/reviews/<%= @review.id %>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
        <p>
          <button class="grey" type="submit" name="Delete Review" value="Delete Review">Delete Review</button>
        <p>
    </form>
  </div>
</div>
