<div class="topnav">
  <div class="topnav-left">
    <a href="/" class="bar-button"><b>Book</b> Review Club</a>
    <a href="/books" class="bar-button">Books</a>
    <a href="/authors" class="bar-button">Authors</a>
    <div class="topnav-right">
      <a href="/logout" class="bar-button">Logout</a>
      <a href="/" class="bar-button">Profile</a>
    </div>
  </div>
</div>
<h1>Lastest Reviews</h1>
<div class="reviews-container">
  <div class="review">
    <% @reviews.each do |review| %>
      <div class="review_book">
        <a href="/books/<%= review.book.slug %>"><h4><%= review.book.name %></h4></a>
      </div>
      <div class="review_user">
        <h5>Review by <%= review.user.name %>:</h5>
      </div>
      <div class="review_content">
        <p><%= review.content %></p>
      </div>
      <% if current_user.id == review.user.id %>
        <div class="edit-review">
      <% else %>
        <div class="edit-review" style="display: none;">
      <% end %>
          <form action="/reviews/<%= review.id %>" method="get">
            <p>
              <button class="grey" type="submit" value="Edit Review">Show</button>
            </p>
          </form>
      </div>
    <% end %>
  </div>
</div>
