<div class="topnav">
  <div class="topnav-left">
    <a href="/" class="bar-button"><b>Book</b> Review Club</a>
    <a href="/books" class="bar-button">Books</a>
    <a href="/authors" class="bar-button">Authors</a>
    <a href="/reviews" class="bar-button">Lastest Reviews</a>
    <div class="topnav-right">
      <a href="/logout" class="bar-button">Logout</a>
      <a href="/users/<%= current_user.slug %>" class="bar-button">Profile</a>
    </div>
  </div>
</div>
<div class="search_results-container">
  <h1>Books Found</h1>
  <p class="flash_message">
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
  </p>
  <div class="books-sidebar">
    <div class="search-book">
      <form action="/books/search" method="post">
        <label for="search"><h3>Search for a book</h3></label>
        <input type="text" name="search_term" id="search">
        <input type="submit" name="" value="Search">
      </form>
    </div>
    <form action="/books?letter=<%= @selected_letter %>" method="get">
      <p>
        <label for="selected_letter">Select A-Z</label>
      </p>
      <select name="selected_letter" id="selected_letter">
        <option value="All">
          All</option>
        <option value="a%" <%=selected="selected" if @selected_letter == "A" %>>
          A</option>
        <option value="b%" <%=selected="selected" if @selected_letter == "B" %>>
          B</option>
        <option value="c%" <%=selected="selected" if @selected_letter == "C" %>>
          C</option>
        <option value="d%" <%=selected="selected" if @selected_letter == "D" %>>
          D</option>
        <option value="e%" <%=selected="selected" if @selected_letter == "E" %>>
          E</option>
        <option value="f%" <%=selected="selected" if @selected_letter == "F" %>>
          F</option>
        <option value="g%" <%=selected="selected" if @selected_letter == "G" %>>
          G</option>
        <option value="h%" <%=selected="selected" if @selected_letter == "H" %>>
          H</option>
        <option value="i%" <%=selected="selected" if @selected_letter == "I" %>>
          I</option>
        <option value="j%" <%=selected="selected" if @selected_letter == "J" %>>
          J</option>
        <option value="k%" <%=selected="selected" if @selected_letter == "K" %>>
          K</option>
        <option value="l%" <%=selected="selected" if @selected_letter == "L" %>>
          L</option>
        <option value="m%" <%=selected="selected" if @selected_letter == "M" %>>
          M</option>
        <option value="n%" <%=selected="selected" if @selected_letter == "N" %>>
          N</option>
        <option value="o%" <%=selected="selected" if @selected_letter == "O" %>>
          O</option>
        <option value="p%" <%=selected="selected" if @selected_letter == "P" %>>
          P</option>
        <option value="q%" <%=selected="selected" if @selected_letter == "Q" %>>
          Q</option>
        <option value="r%" <%=selected="selected" if @selected_letter == "R" %>>
          R</option>
        <option value="s%" <%=selected="selected" if @selected_letter == "S" %>>
          S</option>
        <option value="t%" <%=selected="selected" if @selected_letter == "T" %>>
          T</option>
        <option value="u%" <%=selected="selected" if @selected_letter == "U" %>>
          U</option>
        <option value="v%" <%=selected="selected" if @selected_letter == "V" %>>
          V</option>
        <option value="w%" <%=selected="selected" if @selected_letter == "W" %>>
          W</option>
        <option value="x%" <%=selected="selected" if @selected_letter == "X" %>>
          X</option>
        <option value="y%" <%=selected="selected" if @selected_letter == "Y" %>>
          Y</option>
        <option value="z%" <%=selected="selected" if @selected_letter == "Z" %>>
          Z</option>
      </select>

      <p>
        <label for="selected_status">Status</label>
      </p>
      <button class="grey" type="submit" value="Submit">Apply Filters</button>
    </form>
  </div>
  <div class="books-container">
    <% @search_results.each do |book| %>
    <div class="book_name">
      <a href="/books/<%= book.slug %>"><h4><%= book.name %></a></h4>
    </div>
    <div class="book_author">
      <a href="/authors/<%= book.author.slug %>"><h6>By <%= book.author.name%></a></h6>
    </div>
    <% end %>
  </div>
</div>
